@font-face {
  font-family: "Circular";
  src: url(/font/Circular_Std_Font.otf);
  font-family: "Display";
  src: url(font/DMSerifDisplay.ttf);
  font-family: "SofiaPro";
  src: url(font/sofiapro-light.otf);
}

html,
body {
  background-color: #f2f2f2;
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url(img/main-wolf-image.png);
  background-size: cover;
  margin-left: 90px;
  padding: 16px;
  height: 100%;
}

a {
  color: white;
  text-decoration: none;
}

.sidebar {
  width: 90px;
  height: 100%;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 16px;
  font-family: "sofiapro";
  position: absolute;
}

.sidebar__details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 30px;
  height: 70%;
  margin: auto;
  font-weight: bold;
  letter-spacing: 3px;
}

.navbar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  left: 18%;
  right: 18%;
  margin-top: 20px;
  padding-top: 25px;
}

.logo {
  cursor: pointer;
}

.navbar__list {
  font-size: 18px;
}

.navbar__list li {
  display: inline-block;
  padding: 0px 15px;
}

.navbar__list img {
  padding-left: 15px;
}
/* ----------Punctul apare doar daca fac hover pe punct nu si pe scris + pe celalalte decat home nu este aliniat--------- */
#white__point__home {
  display: flex;
  padding: 10px 22px;
  opacity: 0;
}
#white__point__contact {
  display: flex;
  padding: 10px 30px;
  opacity: 0;
}

#white__point__lesson {
  display: flex;
  padding: 10px 25px;
  opacity: 0;
}

#white__point__account {
  display: flex;
  padding: 10px 31px;
  opacity: 0;
}

#white__point__home:hover {
  opacity: 100;
  transition: 0.3s ease all;
}

#white__point__contact:hover {
  opacity: 100;
  transition: 0.3s ease all;
}

#white__point__lesson:hover {
  opacity: 100;
  transition: 0.3s ease all;
}

#white__point__account:hover {
  opacity: 100;
  transition: 0.3s ease all;
}

/* ---------------COD PENTRU DROPDOWN care nu functioneaza------------------- */
.story__link {
  display: flex;
}

.story__link:hover .dropdown-container {
  display: block;
}

.dropdown__container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-left: 22px;
  margin-top: -5px;
  background-color: #272626;
  width: 161px;
  height: 186px;
}

.dropdown {
  position: relative;
  display: none;
}

.dropdown a:hover {
  color: #55bba6;
  transition: all 0.5s ease;
}

.dropdown img {
  padding-top: 10px;
}

/* ---------------------------------------------------- */

/* ----------scris interior cu butoane----------- */
.hero__description {
  color: white;
}

.hero__description h4 {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.4px;
  padding-top: 10px;
}

.hero__description h1 {
  font-size: 130px;
  letter-spacing: 19.6px;
  padding: 15px 0px;
  line-height: 178px;
}

.hero__description h6 {
  font-size: 18px;
  font-family: "SofiaPro";
  letter-spacing: 1.72px;
  padding: 5px 0px;
  line-height: 29px;
}

.hero__description p {
  font-size: 12px;
  letter-spacing: 0.7px;
  padding: 30px 0px;
  line-height: 29px;
}

.buttons {
  display: inline;
}

.primary__btn {
  background-color: #55bba6;
  border-radius: 2px;
  height: 60px;
  width: 250px;
  border: none;
  outline: none;
}

.secondary__btn {
  width: 250px;
  height: 60px;
  border-radius: 2px;
  border: 4px white solid;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 50px 20px;
}

.primary__btn,
.secondary__btn {
  font-size: 18px;
  font-family: "SofiaPro";
  letter-spacing: 0.7px;
  font-weight: bold;
  color: white;
  line-height: 24px;
}
.primary__btn:hover {
  filter: brightness(85%);
  transition: 0.6s all ease;
}

.secondary__btn:hover {
  background-color: white;
  color: black;
  transition: 0.6s all ease;
}

.hero__description {
  position: absolute;
  left: 18%;
  right: 18%;
  z-index: 1;
  height: 70%;
  margin-top: 15%;
}

.down__arrow {
  display: flex;
  margin-top: 20px;
  position: absolute;
}
/* -------------------------------------------- */

/* ------------Paragrafe------------- */
.middle {
  height: 30%;
}

.middle__description {
  display: flex;
  color: #484848;
  font-family: "sofiaPro";
  font-size: 18px;
  line-height: 30px;
  left: 18%;
  right: 30%;
  position: absolute;
  justify-content: space-between;
  height: 50%;
}

.title {
  font-size: 39px;
  line-height: 49px;
  letter-spacing: 5.44px;
  color: #55bba6;
  position: relative;
  margin-left: 18%;
  padding: 60px 0px 30px 0;
}

.txt1 p,
.txt2 p,
.txt3 p {
  padding: 4px 0px;
}

/* ------------------------------------ */
.gallery {
  display: flex;
  position: absolute;
  height: 60%;
  left: 18%;
  right: 18%;
}

.overlay {
  opacity: 1.2;
  background-color: black;
  position: relative;
  width: 485px;
  height: 599px;
}

.sheep__photo__above {
  position: relative;
  width: 487px;
  height: 601px;
}

.interior__gallery {
  z-index: 1;
  position: absolute;
  color: white;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 7%;
}

.gallery h2 {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 3.76px;
  padding: 5px 0px 15px 0px;
}

.gallery p {
  font-size: 18px;
  line-height: 30px;
  font-family: "sofiaPro";
  padding-bottom: 7px;
}

.writing {
  padding-bottom: 40px;
}

.photos {
  margin: 0 4px;
}
