@font-face {
  font-family: "Circular";
  src: url(/font/Circular_Std_Font.otf);
  font-family: "Display";
  src: url(font/DMSerifDisplay.ttf);
  font-family: "SofiaPro";
  src: url(font/sofiapro-light.otf);
}

html,
body {
  background-color: #f2f2f2;
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url(img/main-wolf-image.png);
  background-size: cover;
  margin-left: 90px;
  padding: 16px;
  height: 100%;
}

a {
  color: white;
  text-decoration: none;
}

.sidebar {
  width: 90px;
  height: 100%;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 16px;
  font-family: "sofiapro";
  position: absolute;
}

.sidebar__details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 30px;
  height: 70%;
  margin: auto;
  font-weight: bold;
  letter-spacing: 3px;
}

.navbar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  left: 18%;
  right: 18%;
  margin-top: 20px;
  padding-top: 25px;
}

.logo {
  cursor: pointer;
}

.mobile__logo {
  display: none;
}

.navbar__list {
  font-size: 18px;
  margin-left: auto;
}

.navbar__description {
  display: inline-block;
  padding: 0px 15px;
  font-size: 18px;
  letter-spacing: 23px;
  letter-spacing: 0.92px;
}

.navbar__description::after {
  content: url(/img/white-oval.svg);
  display: flex;
  padding: 10px 20px;
  opacity: 0;
}
.navbar__description:hover::after {
  opacity: 100;
  transition: 0.3s ease all;
}

.responsive__navbar {
  display: none;
}

/* ---------------COD PENTRU DROPDOWN care nu functioneaza------------------- */

.story__image {
  padding-left: 15px;
}

.story__link:hover .dropdown {
  display: block;
}

.dropdown__container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-left: 22px;
  margin-top: -5px;
  background-color: #272626;
  width: 161px;
  height: 186px;
  list-style: none;
}

.dropdown {
  position: relative;
  list-style: none;
  display: none;
}

.dropdown a:hover {
  color: #55bba6;
  transition: all 0.5s ease;
}

.dropdown__line {
  padding-top: 10px;
}

.little__triangle {
  margin-left: 15px;
}

/* ---------------------------------------------------- */

/* ----------scris interior cu butoane----------- */
.hero__description {
  color: white;

  position: absolute;
}

.hero__description1 {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.4px;
  padding-top: 10px;
  text-transform: uppercase;
}

.hero__description2 {
  font-size: 130px;
  letter-spacing: 19.6px;
  padding: 15px 0px;
  line-height: 178px;
  text-transform: uppercase;
}

.hero__description3 {
  font-size: 18px;
  font-family: "SofiaPro";
  letter-spacing: 1.72px;
  padding: 5px 0px;
  line-height: 29px;
  width: 432px;
}

.hero__description4 {
  font-size: 12px;
  letter-spacing: 0.7px;
  padding: 30px 0px;
  line-height: 29px;
}

.buttons {
  display: inline;
}

.primary__btn {
  background-color: #55bba6;
  border-radius: 2px;
  height: 60px;
  width: 250px;
  border: none;
  outline: none;
}

.secondary__btn {
  width: 250px;
  height: 60px;
  border-radius: 2px;
  border: 4px white solid;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 50px 20px;
}

.primary__btn,
.secondary__btn {
  font-size: 18px;
  font-family: "SofiaPro";
  letter-spacing: 0.7px;
  font-weight: bold;
  color: white;
  line-height: 24px;
}
.primary__btn:hover {
  filter: brightness(85%);
  transition: 0.6s all ease;
}

.secondary__btn:hover {
  background-color: white;
  color: black;
  transition: 0.6s all ease;
}

.hero__description {
  position: absolute;
  left: 18%;
  right: 18%;
  z-index: 1;
  height: 70%;
  margin-top: 15%;
}

.down__arrow {
  display: flex;
  margin-top: 10px;
  position: absolute;
}
/* -------------------------------------------- */

/* ------------Paragrafe------------- */
.mission {
  height: 30%;
}

.mission__description {
  display: flex;
  color: #484848;
  font-family: "sofiaPro";
  font-size: 18px;
  line-height: 30px;
  left: 18%;
  right: 25%;
  position: absolute;
  justify-content: space-between;
  height: 50%;
}

.mission__title {
  font-size: 39px;
  line-height: 49px;
  letter-spacing: 5.44px;
  color: #55bba6;
  position: relative;
  margin-left: 18%;
  padding: 60px 0px 30px 0;
}

.mission__text {
  height: 120px;
  padding-right: 120px;
}
/* ------------------------------------ */
.gallery {
  display: flex;
  position: absolute;
  height: 60%;
  left: 18%;
  right: 18%;
  margin-top: 50px;
}

.overlay {
  opacity: 1.2;
  background-color: black;
  position: relative;
  width: 485px;
  height: 599px;
}

.gallery__sheep {
  position: relative;
  width: 487px;
  height: 601px;
}

.gallery__interior {
  z-index: 1;
  position: absolute;
  color: white;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 7%;
}

.gallery__title {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 3.76px;
  padding: 5px 0px 15px 0px;
}

.gallery__description {
  font-size: 18px;
  line-height: 30px;
  font-family: "sofiaPro";
  margin-bottom: 35px;
  width: 241px;
  height: 120px;
}

.photos {
  margin: 0 4px;
}

.sheep__tablet {
  display: none;
}

.lighthouse__tablet {
  display: none;
}

.sheep__mobile {
  display: none;
}

.lighthouse__mobile {
  display: none;
}

.above__mobile {
  display: none;
}

/* tablet view */
@media (max-width: 768px) {
  .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url(img/hero-image-tablet.jpg);
  }

  .hero__description {
    padding-top: 100px;
  }

  .hero__description1 {
    font-size: 16px;
    letter-spacing: 2.41px;
  }

  .hero__description2 {
    font-size: 110px;
    letter-spacing: 16.62px;
  }

  .hero__description3 {
    font-size: 18px;
    letter-spacing: 1.72px;
  }

  .hero__description4 {
    font-size: 12px;
    letter-spacing: 0.7px;
  }

  .buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .down__arrow {
    display: none;
  }

  .sidebar__details {
    height: 90%;
  }

  .navbar {
    margin: 0 auto;
  }

  .navbar__description {
    display: none;
  }

  .responsive__navbar {
    display: block;
  }

  .burgermenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 14px;
    width: 18px;
  }

  .mission__description {
    width: 100%;
  }

  .mission__text:last-of-type {
    display: none;
  }

  .mission__text:nth-child(2) {
    padding-right: 180px;
  }

  .mountain__lake {
    display: none;
  }

  .sheep__walking {
    display: none;
  }

  .sheep__tablet {
    display: block;
  }

  .lighthouse__tablet {
    display: block;
    margin-top: 4px;
  }

  .lighthouse {
    display: none;
  }

  .gallery {
    margin-left: -68px;
  }
}

/* mobile view */
@media (max-width: 500px) {
  .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url(img/hero-image-phone.jpg);
    background-size: cover;
  }

  .logo {
    display: none;
  }

  .mobile__logo {
    display: block;
    padding-left: 25px;
  }

  .hero__description {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    margin-top: 15px;
  }

  .green__line {
    margin-right: 25px;
  }

  .hero__description1 {
    font-size: 16px;
    letter-spacing: 2.41px;
  }

  .hero__description2 {
    font-size: 60px;
    letter-spacing: 9.06px;
    margin-top: -50px;
  }

  .hero__description3 {
    font-size: 16px;
    letter-spacing: 1.52px;
    padding-right: 50px;
    margin-top: -50px;
  }

  .hero__description4 {
    font-size: 12px;
    letter-spacing: 0.7px;
  }

  .buttons {
    display: flex;
    padding-top: 15px;
    flex-direction: column;
    margin-left: 55px;
  }

  .secondary__btn {
    margin-top: 15px;
  }

  .navbar {
    margin: 0 auto;
  }

  .mobile__nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sidebar__details {
    height: 80%;
  }
  .navbar__description {
    display: none;
  }

  .mission__title {
    font-size: 36px;
    letter-spacing: 5.44px;
    margin-top: -10px;
  }

  .mission__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .mission__text:first-of-type {
    padding-right: 210px;
    margin-bottom: 30px;
  }

  .mission__text:nth-child(2) {
    padding-right: 210px;
  }

  .gallery {
    margin-top: 200px;
  }

  .sheep__tablet {
    display: none;
  }

  .lighthouse__tablet {
    display: none;
    margin-top: 4px;
  }

  .sheep__mobile {
    display: block;
    margin-top: 4px;
  }

  .lighthouse__mobile {
    display: block;
    margin-top: 4px;
  }

  .gallery {
    display: flex;
    flex-direction: column;
    margin-left: -34px;
  }

  .sheep__above {
    display: none;
  }

  .above__mobile {
    display: block;
    width: 355px;
  }

  .overlay {
    display: none;
  }
}
